.cstm-btn{
    background-color: var(--theme2);
    transition: all 0.3s ease;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    color: var(--white);
    padding: 0 30px;
    border: none;
    border-radius: 10px;
}
.cstm-btn-red{
    background-color: var(--theme);
    transition: all 0.3s ease;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    color: var(--white);
    padding: 0 30px;
    border: none;
    border-radius: 10px;
}
.cstm-btn-trans{
    background-color: transparent;
    transition: all 0.3s ease;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    color: var(--theme2);
    padding: 0 30px;
    border: 1px solid var(--theme2);
    border-radius: 10px;
}
.cstm-btn-trans:hover{
    background-color: var(--theme2);
    color: var(--white);
    border: 1px solid transparent;
}
/* icon-btn */
.icon-btn{
    background-color: transparent;
    transition: all 0.3s ease;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    color: var(--theme2);
    border: 1px solid var(--theme2);
    border-radius: 8px;
}
.icon-btn:hover{
    background-color: var(--theme2);
    color: var(--white);
    border: 1px solid transparent;
}




/* ************************ table css ************************ */

.cstm-table{
    width: 100%;
}
.cstm-table tr th{
    background: var(--lightBlue);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    padding: 15px 10px;
}
.cstm-table tbody tr{
    border-bottom: 1px solid var(--border);
}
.cstm-table tbody tr:hover{
    background: var(--bg);
}
.cstm-table tbody tr td{
    padding: 10px;
}




/* table responsive */


.cstm-table-container {
    display: block;
    width: 100%;
  }
  
  .cstm-table-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* align-items: center; */
  }
  
  .cstm-table-cell {
    flex: 1;
    padding: 8px;
    text-align: left;
  }
  
  .cstm-header .cstm-table-cell {
    font-weight: bold;
  }

  .cstm-header  {
    background: var(--lightBlue);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    }

  
  
  @media screen and (max-width: 600px) {
    .cstm-table-row {
      flex-direction: column;
    }
  
    .cstm-table-cell {
      text-align: right;
      padding-left: 50%;
      position: relative;
    }
  
    .cstm-table-cell:before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      padding-left: 10px;
      font-weight: bold;
    }
    .cstm-header{
        display: none;
    }
  }
  