.modal_overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
  }
  .modal_content {
    border-radius: 4px;
    position: relative;
    width:  calc(100vh - 80px);
    max-width: 90%;
    background: #fff;
  }
  .w-auto{
    width: auto;
  }
.form-group{
    margin-bottom: 15px;
}
  .modal_close {
    border: none;
    background: unset;
    font-size: 22px;
    color: #585858;
    text-decoration: none;
  }



  /* popup */

  /* src/Popup.css */
.popup-overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* pointer-events: none; */
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 400px;
  max-width: 80%;
  pointer-events: auto;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.modal-actions{
  display: flex;
  align-items: center;
  justify-content: end;
}